assets/img/360view/tiles/**
!assets/img/360view/tiles/1108
!assets/img/360view/tiles/1107
!assets/img/360view/tiles/1104
!assets/img/360view/tiles/1101
!assets/img/360view/tiles/1100
!assets/img/360view/tiles/1113
!assets/img/360view/tiles/1114
!assets/img/360view/tiles/1289
!assets/img/360view/tiles/1115
!assets/img/360view/tiles/1123
!assets/img/360view/tiles/1111
!assets/img/360view/tiles/1106
!assets/img/360view/tiles/1112
!assets/img/360view/tiles/1105
!assets/img/360view/tiles/1098
!assets/img/360view/tiles/1099
!assets/img/360view/tiles/1097
!assets/img/360view/tiles/1102
!assets/img/360view/tiles/1102/**
!assets/img/360view/tiles/1097/**
!assets/img/360view/tiles/1108/**
!assets/img/360view/tiles/1107/**
!assets/img/360view/tiles/1104/**
!assets/img/360view/tiles/1101/**
!assets/img/360view/tiles/1100/**
!assets/img/360view/tiles/1113/**
!assets/img/360view/tiles/1114/**
!assets/img/360view/tiles/1289/**
!assets/img/360view/tiles/1115/**
!assets/img/360view/tiles/1123/**
!assets/img/360view/tiles/1111/**
!assets/img/360view/tiles/1106/**
!assets/img/360view/tiles/1112/**
!assets/img/360view/tiles/1105/**
!assets/img/360view/tiles/1098/**
!assets/img/360view/tiles/1099/**
desktop.ini
levels_old
levels_old/**