assets/img/360view/tiles/**
!assets/img/360view/tiles/phase2_1108
!assets/img/360view/tiles/phase2_1107
!assets/img/360view/tiles/phase2_1104
!assets/img/360view/tiles/phase2_1101
!assets/img/360view/tiles/phase2_1100
!assets/img/360view/tiles/phase2_1113
!assets/img/360view/tiles/phase2_1114
!assets/img/360view/tiles/phase2_1289
!assets/img/360view/tiles/phase2_1115
!assets/img/360view/tiles/phase2_1123
!assets/img/360view/tiles/phase2_1111
!assets/img/360view/tiles/phase2_1106
!assets/img/360view/tiles/phase2_1112
!assets/img/360view/tiles/phase2_1105
!assets/img/360view/tiles/phase2_1098
!assets/img/360view/tiles/phase2_1099
!assets/img/360view/tiles/phase2_1097
!assets/img/360view/tiles/phase2_1102
!assets/img/360view/tiles/phase2_1102/**
!assets/img/360view/tiles/phase2_1097/**
!assets/img/360view/tiles/phase2_1108/**
!assets/img/360view/tiles/phase2_1107/**
!assets/img/360view/tiles/phase2_1104/**
!assets/img/360view/tiles/phase2_1101/**
!assets/img/360view/tiles/phase2_1100/**
!assets/img/360view/tiles/phase2_1113/**
!assets/img/360view/tiles/phase2_1114/**
!assets/img/360view/tiles/phase2_1289/**
!assets/img/360view/tiles/phase2_1115/**
!assets/img/360view/tiles/phase2_1123/**
!assets/img/360view/tiles/phase2_1111/**
!assets/img/360view/tiles/phase2_1106/**
!assets/img/360view/tiles/phase2_1112/**
!assets/img/360view/tiles/phase2_1105/**
!assets/img/360view/tiles/phase2_1098/**
!assets/img/360view/tiles/phase2_1099/**
desktop.ini
levels_old
levels_old/**